/* add your CSS here */
img {
  width: 300px;
}

.learn {
  border-style: solid;
  padding: 0.5em;
  width: 302px;
  height: 700px;
  border-color: lightgrey;
  border-width: 0.1em;
  box-shadow: 0.5em 0.5em lightgray;
}

.boxing {
  border-style: solid;
  padding: 0.5em;
  border-color: lightgrey;
  border-width: 0.1em;
}


span {
  font-weight: bold;
}

ul{
  list-style-type: none;
}

